.sigup__header > img {
    width: 6rem;
    height: 2.4rem;
}

.input-group {
    outline: none;
}

.info {
    font-size: .8rem;
    color: #808080;
}

.agreement{
    text-align: center;
    font-size: .85rem;
}

.error-container > span {
    color: red;
}